* {
    border: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 35vh auto auto;
}

.hero-image {
    background-image: url("grid_hero.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
}

main {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    padding: 3vw;
    min-height: 45vh;
}

footer {
    display: grid;
    place-items: center;
    row-gap: 5px;
    min-height: 15vh;

}
button:nth-child(1) {
    background-color: rgb(31, 234, 241);
    color: whitesmoke;
    width: 80vw;
    height: 6vh;
    border-radius: 45px;
}
button:nth-child(2) {
    border: 2px;
    border-style: solid;
    
    border-color: gray;
    
    background-color: white;
    
    
    color: black;
    width: 80vw;
    height: 6vh;
    border-radius: 45px;
}
